#quizmain{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: khaki;
    height: 1000px;
    width:100%;
    color:black;
    z-index: 1rem;
}
#quiz{
    height: 50rem;
    width:50rem;
    border: 2px solid black;
}